<!-- <section class="section">
  <div class="container">
    <h1 class="title">Aanbod</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
    </h2>
    Na reservatie kan u onze staalboeken meenemen om rustig thuis uw keuze te maken, uiteraard bent u ook steeds welkom
    in
    onze winkel om te komen kiezen, of u kan een kijkje nemen op de sites van onze leveranciers <em>(zie "nuttige
      links")</em>.
  </div>
</section> -->

<h3 class="title">Aanbod</h3>
<p class="has-text-justified">
  Na reservatie kan u onze staalboeken meenemen om rustig thuis uw keuze te maken, uiteraard bent u ook steeds welkom in
  onze winkel om te komen kiezen, of u kan een kijkje nemen op de sites van onze leveranciers <em>(zie "nuttige
    links")</em>.
</p>
<div class="columns">
  <div class="column is-one-quarter">
    <figure class="image is-180x180 box">
      <img src="./assets/images/huwelijksdrukwerk.jpg" alt="Voorbeelden van huwelijksdrukwerk" />
    </figure>

  </div>
  <div class="column">
    <p class="is-italic has-text-justified is-size-7">
      In de prijs van de huwelijkskaarten is steeds een envelop inbegrepen. Alle enveloppen tot een max formaat van 12,5
      x 23 cm zijn aanvaard postformaat, vierkante enveloppen hebben een buitenmaat en moeten dus dubbel gefrankeerd
      worden.
    </p>
  </div>
</div>

<h3 class="title">
  Bedanking
</h3>
<p class="has-text-justified">
  Wenst u uw genodigden te bedanken voor hun aanwezigheid of geschenken dan kan u op de receptie of op het avondfeest
  een presentje voorzien met hartvormige suikerboontjes, smarties of gepofte rijst, chocolaatjes, bedrukte lollies en
  andere snoep, jeneverflesjes enz…
</p>
<div class="columns">
  <div class="column is-three-quarters">
    <p class="is-italic has-text-justified is-size-7">
      Als bedanking voor de kindjes die bloemen of een kadootje afgeven aan de kerk of het gemeentehuis kunt u kiezen
      uit
      verschillende leuke attenties.
    </p>
  </div>
  <div class="column">
    <figure class="image is-180x180 box">
      <img src="./assets/images/bruidssuiker.jpg" alt="Hartvormige suikerboontjes" />
    </figure>
  </div>
</div>

<app-context-links [links]="contextLinks"></app-context-links>