.navbar {
  background-color: rgba(223, 217, 169, 0.8);
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.navbar-brand {
  a {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Fugaz One";
    &:hover,
    &:active,
    &.active {
      color: inherit;
    }
  }
}
.navbar-menu {
  a {
    color: #2c241d;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    &:hover,
    &:active,
    &.active {
      color: #591b0c;
      border-bottom: 4px solid #591b0c;
    }
  }
}
