<!-- <ngx-loading-bar
  color="var(--bs-primary)"
  height="5px"
  [fixed]="true"
></ngx-loading-bar> -->
<div class="wrapper min-vh-100">
  <div class="nav container d-flex justify-content-between px-0">
    <wivipro-horizontal-menu class="d-none d-md-block" [menuItems]="menuItems">
    </wivipro-horizontal-menu>
    <wivipro-horizontal-menu class="d-none d-md-block" [right]="true" [menuItems]="menuItemsRight">
    </wivipro-horizontal-menu>
    <!-- <div class="profile d-none d-md-block">
      <ul>
        <li *ngIf="!authService.currentUser">
          <a
            href="javascript:void(0);"
            title="Aanmelden"
            routerLink="login"
            (click)="login()"
            routerLinkActive="d-none"
          >
            <span class="ms-2">Aanmelden</span>
          </a>
        </li>
        <li *ngIf="authService.currentUser">
          <span class="me-2"
            >Welkom {{ authService.currentUser.displayName }}</span
          >
          <a
            href="#"
            title="Profiel"
            class="links"
            routerLink="profile"
            routerLinkActive="active"
            >profiel</a
          >
          |
          <a
            href="#"
            title="Afmelden"
            class="links"
            (click)="authService.signOut()"
            >afmelden</a
          >

          <ng-container *ngIf="authService.isAdmin | async">
            |
            <a
              href="#"
              title="Beheer"
              class="links"
              routerLink="manage"
              routerLinkActive="active"
              >beheer</a
            >
          </ng-container>
        </li>
      </ul>
    </div> -->
  </div>
  <div class="header">
    <wivipro-hamburger-menu class="d-md-none" [menuItems]="hamburgerMenuItems">
    </wivipro-hamburger-menu>
    <div class="container">
      <div class="brand d-flex flex-lg-row flex-column">
        <div class="title" (click)="goHome()">
          {{ title }}
        </div>
        <div class="subtitle ms-4 mb-2 ps-2 d-none d-md-block">
          <img src="assets/prinsjes.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="content container">
    <router-outlet></router-outlet>
  </div>
  <div class="footer small">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Contact</strong><br /><br />
            Wivipro
            <br />
            Hoevensebaan 179
            <br />
            2950 Kapellen
            <br />
            <br />
            Tel: +32 (0)3 665 26 48<br />
            GSM: +32 (0)474 222 085<br />
            Email: <a href="mailto:wivipro@gmail.com">wivipro@gmail.com</a><br />
          </address>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Legal</strong><br /><br />
            BTW: BE 0812 026 788<br />
            Record: BE86 6528 3312 0150<br />
            <a href="https://www.dropbox.com/s/j3czcyok2p3hwto/Algemene%20Verkoopsvoorwaarden.pdf?dl=0"
              target="_blank">Verkoopsvoorwaarden</a><br />
          </address>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Openingsuren</strong><br /><br />
            <table class="hours">
              <tr>
                <td>maandag:</td>
                <td>gesloten</td>
              </tr>
              <tr>
                <td>dinsdag:</td>
                <td>op afspraak</td>
              </tr>
              <tr>
                <td>woensdag:</td>
                <td>10:00u - 18u30</td>
              </tr>
              <tr>
                <td>donderdag:</td>
                <td>10:00u - 18u30</td>
              </tr>
              <tr>
                <td>vrijdag:</td>
                <td>10:00u - 18u30</td>
              </tr>
              <tr>
                <td>zaterdag:</td>
                <td>10:00u - 17:00u</td>
              </tr>
              <tr>
                <td>zondag:</td>
                <td>gesloten</td>
              </tr>
            </table>
          </address>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <address>
            <strong>Social</strong>
            <br /><br />
            <div class="social d-flex">
              <a href="https://www.facebook.com/wivipro/" target="_blank" title="Facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a href="https://www.instagram.com/wiviprokapellen/" target="_blank" title="Instagram">
                <i class="fab fa-instagram-square"></i>
              </a>
              <a href="https://www.pinterest.com/wivipro/" target="_blank" title="Pinterest">
                <i class="fab fa-pinterest-square"></i>
              </a>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>