<div id="wrapper" class="container">
  <header id="header">
    <ul id="menu" class="has-text-centered">
      <li><a id="home" class="" href="http://www.wivipro.com">Home</a></li>
      <li><a routerLink="/huwelijk" routerLinkActive="active">Huwelijk</a></li>
      <li><a id="2" class="internal" href="geboorte">Geboorte</a></li>
      <li><a id="3" class="internal" href="manden">Onze creaties</a></li>
      <li><a id="7" href="http://www.wivipro-webshop.be" target="_blank">Webwinkel</a></li>
      <li><a id="4" class="internal" href="contact">Contact</a></li>
      <li><a id="5" class="internal" href="groothandel">Groothandel</a></li>
      <!-- <li><a id="6" class="shop groothandel" href="/Shop/Overview?groothandel=true">Webwinkel
          (groothandel)</a></li> -->
    </ul>
  </header>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>