$text: #222;
$primary: #855f3d;
$link: $primary;
$link-hover: #000;
$link-active: $link-hover;
$body-family: "Duru Sans", sans-serif;
$body-size: 14px;
$body-background-color: #ecebcf;
$content-background-color: rgba(223, 217, 169, 0.8);
$footer-background-color: $primary;
$footer-padding: 1rem;
$dimensions: 16 24 32 48 64 96 128 180;
$gap: 70px;
$widescreen-enabled: true;
$fullhd-enabled: true;

@import url("https://fonts.googleapis.com/css?family=Duru+Sans|Fugaz+One&display=swap");
@import "bulma/bulma.sass";

body {
  // background-color: $body-background-color;
  // background-image: url("./assets/images/suzi-banner-1344.jpg");
  // background-repeat: no-repeat;
  // background-position: center top;
  // background-size: 1344px;

  background: url("./assets/images/bg-custom.png") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    flex: 1;
    padding-right: 1rem;
    padding-left: 1rem;
    .pagecontent {
      background-color: $content-background-color;
      padding: 0rem 2rem 2rem 2rem;
    }
  }
}

.banner {
  margin-top: -46px;
  margin-left: -2rem;
  margin-right: -2rem;
  border-bottom: 3px solid $body-background-color;
  img {
    @extend .is-block;
  }
}

.w-180 {
  width: 180px;
}

.content figure {
  margin: 0;
}

.image.box {
  padding: 4px;
  background-color: $body-background-color;
}

.is-size-7 {
  font-size: 0.9rem !important;
}

.notification.is-body-bg {
  background-color: $body-background-color;
  border: 1px solid $primary;
}

.footer {
  color: #a5a591;
  padding-bottom: 2rem;
  h3 {
    color: $body-background-color;
    margin-bottom: 1rem;
  }
  span {
    @extend .is-block;
    margin-bottom: 0.2rem;
  }
  a {
    color: #a5a591 !important;
    &:hover {
      text-decoration: underline;
    }
  }
}
