<h3 class="title">Aanbod</h3>
<p class="has-text-justified">
  Na reservatie kan u onze staalboeken meenemen om rustig thuis uw keuze te maken, uiteraard bent u ook steeds welkom in
  onze winkel om te komen kiezen, of u kan een kijkje nemen op de sites van onze leveranciers (zie "nuttige links").
</p>
<div class="columns">
  <div class="column is-one-quarter">
    <figure class="image is-180x180 box">
      <img src="./assets/images/geboortedrukwerk.jpg" alt="Voorbeelden van geboortedrukwerk" />
    </figure>
  </div>
  <div class="column">
    <p class="is-italic has-text-justified is-size-7">
      In de prijs van de geboortekaartjes is steeds een envelop inbegrepen. Alle enveloppen tot een maximum formaat van
      12,5 x 23 cm zijn aanvaard postformaat. Je kan de enveloppen op voorhand komen afhalen om deze reeds te schrijven,
      wil je echter tijd besparen kan je je geboortekaartjes ook door ons laten verzenden, voor deze extra service
      rekenen wij 0,40 euro per enveloppe (excl. postzegel).
    </p>
  </div>
</div>
<p>

</p>

<h3 class="title">Doopsuiker</h3>
<p class="has-text-justified">
  Wij hebben een zeer uitgebreid assortiment doopsuiker, geschenken voor meter en peter, bedrukte lollies en andere
  snoep, jeneverflesjes, enz...
  <br />
  Indien u liever zelf wenst te vullen, bieden wij u al het materiaal aan om zelf aan de slag te gaan.
</p>
<div class="columns">
  <div class="column is-three-quarters">
    <p class="has-text-justified">
      Als u bij ons uw doopsuiker bestelt kan u mits betaling van een waarborg ter waarde van het presentatiemateriaal
      één
      maand gratis gebruik maken van ons presentatiemateriaal, een voorsmaakje vind je alvast onder de rubriek "Onze
      creaties".
    </p>
    <p class="is-italic has-text-justified is-size-7">
      Bij bestelling van een gevulde doopsuikerkorf geven wij een leuke attentie voor uw prinsje of prinsesje!
    </p>
  </div>
  <div class="column">
    <figure class="image is-180x180 box">
      <img src="./assets/images/geboorte - lego.jpg" alt="Hondje met lego" />
    </figure>
  </div>
</div>

<div class="notification is-primary has-text-justified">
  Uw geboortekaartjes en doopsuiker worden (indien mogelijk) steeds op de dag van de geboorte afgewerkt, <strong>zelfs
    op zon- en feestdagen</strong>!
</div>

<p>

</p>

<app-context-links [links]="contextLinks"></app-context-links>