<h3 class="is-size-5">Aanbod</h3>
<p>
  Na reservatie kan u onze staalboeken meenemen om rustig thuis uw keuze te maken, uiteraard bent u ook steeds welkom in
  onze winkel om te komen kiezen, of u kan een kijkje nemen op de sites van onze leveranciers (zie "nuttige links").
</p>
<p>
  In de prijs van de geboortekaartjes is steeds een envelop inbegrepen. Alle enveloppen tot een maximum formaat van 12,5
  x
  23 cm zijn aanvaard postformaat. Je kan de enveloppen op voorhand komen afhalen om deze reeds te schrijven, wil je
  echter tijd besparen kan je je geboortekaartjes ook door ons laten verzenden, voor deze extra service rekenen wij 0,40
  euro per enveloppe (excl. postzegel).
</p>

<h3 class="is-size-5">Doopsuiker</h3>
<p>
  Wij hebben een zeer uitgebreid assortiment doopsuiker, geschenken voor meter en peter, bedrukte lollies en andere
  snoep,
  jeneverflesjes, enz...
  Indien u liever zelf wenst te vullen, bieden wij u al het materiaal aan om zelf aan de slag te gaan.
</p>
<p>
  Als u bij ons uw doopsuiker bestelt kan u mits betaling van een waarborg ter waarde van het presentatiemateriaal één
  maand gratis gebruik maken van ons presentatiemateriaal, een voorsmaakje vind je alvast onder de rubriek "Onze
  creaties".
</p>
<p>
  Bij bestelling van een gevulde doopsuikerkorf geven wij een leuke attentie voor uw prinsje of prinsesje!Hondje met
  lego
  Uw geboortekaartjes en doopsuiker worden (indien mogelijk) steeds op de dag van de geboorte afgewerkt.
  Zelfs op zon- en feestdagen.
</p>