<footer class="footer">
  <div class="container is-size-7">
    <div class="columns is-centered" style="padding-left: 2rem; padding-right:2rem;">
      <!-- <div class="column"></div> -->
      <div class="column">
        <h3 class="is-size-6">Contact</h3>
        <span>Tel: +32 (0)3 665 26 48</span>
        <span>GSM: +32 (0)474 222 085</span>
        Email: <a href="mailto:info@wivipro.be">info@wivipro.be</a>
      </div>
      <div class="column">
        <h3 class="is-size-6">Adres</h3>
        <span>Hoevensebaan 179</span>
        <span>2950 Kapellen</span>
        <span>België</span>
      </div>
      <div class="column">
        <h3 class="is-size-6">Legal</h3>
        <span>BTW: BE 0812 026 788</span>
        <span>Record: BE86 6528 3312 0150</span>
        <span>
          <a href="https://www.dropbox.com/s/j3czcyok2p3hwto/Algemene%20Verkoopsvoorwaarden.pdf?dl=0"
            target="_blank">Verkoopsvoorwaarden</a>
        </span>
      </div>
      <div class="column">
        <h3 class="is-size-6">Download</h3>
        <span><a href="https://www.dropbox.com/s/a4rti18ffecysv8/geboorte.pdf?dl=0" target="_blank">
            Prijslijst geboortedrukwerk
          </a></span>
        <span><a href="https://www.dropbox.com/s/utu0zw9iczcth0u/huwelijk.pdf?dl=0" target="_blank">
            Prijslijst huwelijksdrukwerk
          </a></span>
        <span><a href="https://www.dropbox.com/s/dchjpu880leok6b/jubileum.pdf?dl=0" target="_blank">
            Prijslijst jubileumdrukwerk
          </a></span>
      </div>
      <!-- <div class="column"></div> -->
    </div>
  </div>
</footer>